presentation.html
.RData
.Rhistory
R/spal.RData
R/out.RData
JS/colorbrewer.js
JS/pheno.js
JS/lod_onetime.js
JS/lod_onetime_random.js
JS/lod_alltimes.js
Data/pheno.json
Data/onetime.json
Data/onetime_random.json
Data/all_lod.json
Data/stepwise.json
Data/stepwise2.json
R/*.Rout
R/perm.RData
FromIlYoup
JS/draw_stepwise.js
JS/draw_stepwise2.js
JS/lod_allprofiles.js
